<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.sl314.util.InitializeLeaguesServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletFormAddLeague</servlet-name>
        <servlet-class>com.sl314.view.ServletFormAddLeague</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListLeagues</servlet-name>
        <servlet-class>com.sl314.view.ServletListLeagues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaveLeague</servlet-name>
        <servlet-class>com.sl314.controller.ServletSaveLeague</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSuccess</servlet-name>
        <servlet-class>com.sl314.view.ServletSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletError</servlet-name>
        <servlet-class>com.sl314.view.ServletError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFormAddLeague</servlet-name>
        <url-pattern>/formAddLeague</url-pattern>
        <url-pattern>/formAddLeague.view</url-pattern>
        <url-pattern>/addLeague</url-pattern>
        <url-pattern>/addLeague.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListLeagues</servlet-name>
        <url-pattern>/listLeagues</url-pattern>
        <url-pattern>/listLeagues.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaveLeague</servlet-name>
        <url-pattern>/saveLeague</url-pattern>
        <url-pattern>/saveLeague.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSuccess</servlet-name>
        <url-pattern>/success</url-pattern>
        <url-pattern>/success.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletError</servlet-name>
        <url-pattern>/error</url-pattern>
        <url-pattern>/error.view</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
